.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 90%;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
}

.header-txt h2 {
  font-size: 40px;
  color: #f1f1f1;
  font-weight: 700;
}

.header-txt b {
  color: var(--yellow);
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*FORM STYLES*/

.container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 90vh;
}

.home-image {
  width: 40%;
}

.home-form {
  width: 50%;
  margin: 1rem;
  margin-bottom: 15em;
}

.form-note {
  display: flex;
  flex-direction: column;
}


.form-note input {
  font-family: 'Montserrat';
  font-weight: 600;
  height: 35px;
  border: 2px solid;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.25em 0.5em;
  background-color: transparent;
  color: #f1f1f1;
  transition: all .5s ease-out;

}

.form-note textarea {
  font-weight: 600;
  border: 2px solid;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.25em 0.5em;
  background-color: transparent;
  color: #f1f1f1;
  resize: vertical;
  transition: all .5s ease-out;

}

.form-note input:focus,
.form-note textarea:focus {
  outline: 1px solid transparent;
  color: var(--yellow);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-save:hover {
  color: #f1f1f1;
  background-color: #2d7c2d;
}

.btn-back:hover {
  color: #f1f1f1;
  background-color: #2d6a7c;
}

.warning-text {

  font-family: 'Montserrat';
  font-weight: 600;
  color: red;
  margin-bottom: 1rem;
  transition: all .9s ease-in-out;
  font-size: 13px;

  -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

 @-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

