<header class="header">

  <div class="header-txt">
    <h2 routerLink="/">Note<b>App</b></h2>
  </div>

</header>

<div class="container-home">

  <div class="home-image">
    <img src="../../../assets/image3.svg" alt="Ilustration">
  </div>

  <div class="home-form">
    <h1 class="form-title">{{title}}</h1>
    <form class="form-note " [formGroup]="noteForm" (ngSubmit)="addNote()">

      <input type="text" placeholder="Escribe un titulo" formControlName="title">
      <div class="warning-text" *ngIf="noteForm.get('title')?.hasError('required') && noteForm.get('title')?.touched">
        <span>Campo Obligatorio</span>
      </div>

      <textarea name="" id="" cols="30" rows="5" placeholder="Escribir nota" formControlName="text" maxlength="200"></textarea>
      <div class="warning-text" *ngIf="noteForm.get('text')?.hasError('required') && noteForm.get('text')?.touched">
        <span>Campo Obligatorio</span>
      </div>

      <div class="custom-select">
        <label class="prioridad-lbl" for="prioridad">Seleccione una opcion</label>
        <select (change)="setVAlue($event)" name="prioridad" id="" formControlName="tag" >
          <option id="opt" value="Alta-prioridad">Alta prioridad</option>
          <option id="opt" value="Media-prioridad">Media prioridad</option>
          <option id="opt" value="Baja-prioridad">Baja prioridad</option>
  
        </select>
      </div>
      
      <div class="warning-text" *ngIf="noteForm.get('tag')?.hasError('required') && noteForm.get('tag')?.touched">
        <span>Campo Obligatorio</span>
      </div>



      <div class="buttons">
        <button routerLink="/" class="btn btn-back"><i class='bx bx-arrow-back'></i> Volver</button>
        <button [disabled]="noteForm.invalid" type="submit" class="btn btn-save"><i class='bx bx-save'></i> Guardar</button>
      </div>

    </form>
  </div>
</div>
