/*Header Styles*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 90%;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
}

.header-txt h2 {
  font-size: 40px;
  color: #f1f1f1;
  font-weight: 700;
}

.header-txt b {
  color: var(--yellow);
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn-new {
  cursor: pointer;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  transition: all .5s ease;
  
}

.btn-new:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);


}

.btn-new b {
  color: var(--yellow);
}

/*Notes styles*/


.notes-container {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 85vh;
  margin: 0 auto;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.note {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  background-color: #f1f1f1;
  margin-top: 1rem;
  transition: all .5s ease;
}

.note-header,
.note-footer {
  display: flex;
  height: 40px;
  width: 90%;
  margin: 15px auto;
  align-items: center;
  justify-content: space-between;
}

.notes-container h3 {
  font-size: 25px;
}


.note-footer a,
.note-header a  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--bg);
  color: var(--yellow);
  cursor: pointer;
  text-decoration: none;
  color: #f1f1f1;
}


.note-footer a {
  color: rgb(200, 28, 28);
}

.note-header a:hover,
.note-footer a:hover {
  opacity: 70%;
}

.note-header i {
  font-size: 20px;
}

.note-body {
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  height: 130px;
}

.note-tag {
  font-weight: 500;
  width: 160px;
  text-align: center;
  height: 25px;
  border-radius: 20px;
  border: 1px solid ;
}

.note:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);

}
.empty-text{
  font-size: 40px;
  margin-top: 2rem;
  text-align: center;
  color: #f1f1f1;
}
.empty-image{
  margin:  0 auto;
  width: 50%;
  height: 60vh;
  margin-top: -3rem;
}

.Alta-prioridad{
  background-color:#ee6055;
  color: #111;
}
.Media-prioridad{
 background-color: #ffd97d;
 color: #111;
}
.Baja-prioridad{
  background-color: #60d394;
 color: #111;
 
}
