/*Header Styles*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 90%;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
}

.header-txt h2 {
  font-size: 40px;
  color: #f1f1f1;
  font-weight: 700;
}

.header-txt b {
  color: var(--yellow);
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn-new {
  cursor: pointer;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 21px;
  font-weight: 600;
  transition: all .5s ease;

}

.btn-new:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);


}

.btn-new b {
  color: var(--yellow);
}
.search-container{
  display: flex;
  align-items: center;justify-content: space-evenly;
  border-radius: 21px;
  background-color: #f1f1f1;
  height: 40px;
  width: 250px;
  box-shadow: 5px 5px 5px #000;
  
}
.search-container input{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: none;
  background-color: transparent;
  height: 80%;
  outline: none;
}

.filter{
  display: none;
}
/*Notes styles*/


.notes-container {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 85vh;
  margin: 0 auto;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.note {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 400px;
  height: 340px;
  margin-top: 1rem;
  transition: all .5s ease;
}

.note-header,
.note-footer {
  display: flex;
  height: 50px;
  width: 90%;
  margin: 15px auto;
  align-items: center;
  justify-content: space-between;
}

.notes-container h3 {
  font-size: 25px;
}

.note-txt {

  font-weight: 500;
}


.note-footer a,
.note-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--bg);
  color: var(--yellow);
  cursor: pointer;
  text-decoration: none;
  color: #f1f1f1;
  transition: all .3s ease-in-out;
}

.note-header a:hover {
  background-color: #f1f1f1;
  color: var(--bg);
}

.note-header i {
  font-size: 20px;
}


.note-footer a {

  color: #c81c1c;
}

.note-footer a:hover {
  background-color: #f1f1f1;
  color: rgb(200, 28, 28);
}




.note-body {
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 150px;
  width: 90%;
}

.note-tag-container {
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.note-tag {
  font-weight: 500;
  width: 160px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 21px;
  border: 1px solid;
  font-weight: 600;
  color: #f1f1f1;
}


.note:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.648);

}

.empty-text {
  font-size: 40px;
  margin-top: 2rem;
  text-align: center;
  color: #f1f1f1;
}

.empty-image {
  margin: 0 auto;
  width: 50%;
  height: 60vh;
  margin-top: -3rem;
}

.Alta-prioridad {
  background-color: #ee6055;
  color: #fff;
}

.Media-prioridad {
  background-color: #ffd87d;
  color: #000;
}

.Baja-prioridad {
  background-color: #60d394;
  color: #fff;

}


/* Responsive design*/
@media only screen and (max-width: 1370px) {
  .note {
    width: 380px;
  }

}

@media only screen and (max-width: 1200px) {
  .note {
    width: 340px;
  }
}

@media only screen and (max-width: 1199px) {
  .note {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .header-txt h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .header-txt h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .header-txt h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 3840px) and (min-width: 600px) {
  .btn-new::before {
    content: "+ Nueva nota";
  }
}

@media (max-width:600px) {
  .btn-new::before {
    content: "+";
  }

  .btn-new {
    width: 45px;
    height: 45px;
    color: var(--yellow);
  }

  .btn-new:hover {
    transform: translateY(-5px);
    box-shadow: none;
    background-color: var(--yellow);
    color: #f1f1f1;

  }
}
