/*Header Styles*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 90%;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
}

.header-txt h2 {
  font-size: 40px;
  color: #f1f1f1;
  font-weight: 700;
}

.header-txt b {
  color: var(--yellow);
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn-new {
  cursor: pointer;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 21px;
  font-size: 16px;
  font-weight: 600;
  transition: all .5s ease;

}

.btn-new:hover {
  background-color: var(--yellow);
  color: #f1f1f1;

}

.btn-new b {
  color: var(--yellow);
}

.functions-header {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 21px;
  background-color: #f1f1f1;
  height: 40px;
  width: 300px;
  box-shadow: 5px 5px 5px #000;

}

.search-container input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: none;
  background-color: transparent;
  height: 80%;
  outline: none;
}

.filter {
  display: none;
}

/*Notes styles*/


.notes-container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  grid-auto-rows: 100%;

}

.note {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 350px;
  transition: all .5s ease;
  -webkit-animation: scale-in-top .5s cubic-bezier(.25, .46, .45, .94) both;
  animation: scale-in-top .5s cubic-bezier(.25, .46, .45, .94) both
}

/*NOTE ANIMATION ENTRANCE*/

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    opacity: 1
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    opacity: 1
  }
}


.note-header,
.note-footer {
  display: flex;
  height: 50px;
  width: 90%;
  margin: 15px auto;
  align-items: center;
  justify-content: space-between;
}

.notes-container h3 {
  font-size: 25px;
}

.note-txt {
  font-size: 17px;
  font-weight: 500;
}


.note-footer a,
.note-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--bg);
  color: var(--yellow);
  cursor: pointer;
  text-decoration: none;
  color: #f1f1f1;
  transition: all .3s ease-in-out;
}

.note-header a:hover {
  background-color: #f1f1f1;
  color: var(--bg);
}

.note-footer {
  text-transform: uppercase;
}

.note-header i {
  font-size: 20px;
}


.note-footer a {

  color: #c81c1c;
}

.note-footer a:hover {
  background-color: #f1f1f1;
  color: rgb(200, 28, 28);
}




.note-body {
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 150px;
  width: 90%;
}

.note-tag-container {
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.note-tag {
  font-weight: 500;
  width: 160px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 21px;
  border: 1px solid;
  font-weight: 600;
  color: #f1f1f1;
}


.note:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.648);

}

.empty-text {
  font-size: 40px;
  margin-top: 2rem;
  text-align: center;
  color: #f1f1f1;
}

.empty-image {
  margin: 0 auto;
  width: 50%;
  height: 60vh;
  margin-top: -3rem;
}

.Alta-prioridad {
  background-color: #F28A82;
  color: #111;
}

.Media-prioridad {
  background-color: #FFD77A;
  color: #000;
}

.Baja-prioridad {
  background-color: #6BD69C;
  color: #111;

}

.display {
  display: none;
}




/* Responsive design*/

@media only screen and (max-width: 1248px) {
  .notes-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 930px) {
  .notes-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}


@media only screen and (max-width: 700px) {
  .header-txt h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .header-txt h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .header-txt h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 3840px) and (min-width: 600px) {
  .btn-new::before {
    content: "+ Nueva nota";
  }
}

@media (max-width:600px) {
  .btn-new::before {
    font-size: 30px;
    content: "+";
    font-weight: 500;
  }

  .note-txt {
    font-size: 1rem;
  }

  .btn-new {
    width: 45px;
    height: 45px;
    color: var(--yellow);
  }

  .btn-new:hover {
    transform: translateY(-5px);
    box-shadow: none;
    background-color: var(--yellow);
    color: #f1f1f1;

  }
}
