<header class="header">

  <div class="header-txt">
    <h2 routerLink="">Note<b>App</b></h2>
  </div>

  <!-- <div class="search-container">
      <input type="text" id="search" [(ngModel)]="searchValue" (input)="onSearchTextChanged()">
      <i class='bx bx-search'></i>
  </div> -->

  <div class="header-btn">
    <button class="btn-new" routerLink="/create-note"></button>
  </div>
</header>

<div class="notes-container" *ngIf="listNotes.length > 0">

  <div class="note {{note.tag}}" *ngFor="let note of listNotes">

    <div class="note-header">
      <h3>{{note.title}}</h3>
      <a [routerLink]="['/edit-note', note._id]"> <i class="bx bxs-edit btn-icon"></i></a>
    </div>

    <div class="note-body">
      <p class="note-txt">{{note.text}}</p>
    </div>

    <div class="note-tag-container">
      <p class="note-tag {{note.tag}}">{{note.tag}}</p>
    </div>

    <div class="note-footer">
      <h4>{{note.date | date:'dd-MM-YYYY'}}</h4>
      <a (click)="deleteNote(note._id)"> <i class="bx bxs-trash-alt btn-icon"></i></a>
    </div>

  </div>
</div>

<h1 class="empty-text" *ngIf="listNotes.length == 0">No hay notas para mostrar</h1>

<div class="empty-image" *ngIf="listNotes.length == 0">
  <img src="../../../assets/image2.svg" alt="Ilustration">
</div>
